#header
{
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(141, 217, 255) ) ;
}

#imgola
{
   text-align: center;
}

#ola
{
    height: 150px !important;
    width: 250px !important;

}




/* MENU NAV */

#tickets
{
    color: rgb(0, 134, 0);
}

.coloresnavbar
{
    color: grey ;

}

#itemnav1, #textonav1
{
    color: black ;
}

#itemnavbartickets
{ color: blue ;}

.navbar
{
    height: 70px;
}
.navbar-brand 
{
 padding-top: 0% ;
}

/* Tabla */

#tabla
{
    background-color: lightblue;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




/* FOOTER */
#footer
{
    margin-top: 1%;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(141, 217, 255) ) ;
    height: 4rem; 

}


.footertext
{
    color: black;
    
    text-decoration: none;
    text-align: end;
    
    margin-right: 3em;
    margin-left: auto;
    
    font-size: 1.5vw;
    font-family: "Acme";
    
    width: min-content;

    

}

#solcito
{
    height: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


#containerfooter
{
    padding-left: 0%;
    padding-right: 0%;
}

#col1 , #col2
{
    padding-right: 10%;
}